@font-face {
  font-family: AmericanWrite;
  src: url("public/assets/AmericanTypewriter.otf") format("opentype");
}

@font-face {
  font-family: Silka-light;
  src: url("public/assets/Silka-Light.otf") format("opentype");
}

@font-face {
  font-family: Silka-bold;
  src: url("public/assets/Silka-Bold.otf") format("opentype");
}

@font-face {
  font-family: cooperl;
  src: url("public/assets/cooperl.ttf") format("truetype");
}

@font-face {
  font-family: cooperB;
  src: url("public/assets/cooperb.ttf") format("truetype");
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-image: url(public/assets/background.png);
  background-color: rgba(255, 255, 255, 0.9);
  background-blend-mode: overlay;
}

.container-top {
  width: 100vw;
  margin: auto;
  text-align: center;

  justify-content: center;
}

.container-top nav {
  margin-bottom: 5em;
}

.container-general {
  width: 100%;
  margin: auto;
  text-align: center;

  justify-content: center;
}

.container-maduracion {
  width: 100%;
  height: auto;
}

.container-maduracion-img-left {
  width: 50%;
  height: auto;

  justify-content: end;
  margin-top: 5%;
}

.container-maduracion-img-right {
  width: 50%;
  height: auto;

  justify-content: start;
  margin-top: 5%;
}

.container-50 {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
}



.bg-benefits {
  width: 100vw;
  background-image: url(public/assets/torn-brown-paper-craft-frame-handmade-earth-tone-background\ 1.png);
  background-size:cover;
  background-repeat: no-repeat;
  position: absolute;
  
}


.button-shopping-cart {
  width: 2.5em;
  height: 2.5em;
  border-top: 1px;
  border-left: 1px;
  border-right: 2px;
  border-bottom: 3px;
  border-style: solid;
  border-color: #c92c0a;
  border-radius: 5em;
  background-color: #f5e5e5;
  align-self: center;
}

.top-nav {
  margin-bottom: 0;
  font-family: Silka-Light;
}

.top-nav-item {
  color: black;
  margin-bottom: 0;
  padding-top: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 0.5em;
  text-decoration: none;
  border-bottom: 1px solid;
}

.top-nav-item.active {
  color: #c92c0a;
  font-family: Silka-bold;
  border: 1px solid black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 0;
}

.banner {
  width: 1000px;
  height: 500px;
  background-color: black;
  border-top: 5px white solid;
  outline: 2px black solid;
  padding: 10vh;
  margin: 0 auto;
}

.text-with-decoration {
  font-family: AmericanWrite;
}

.maduracion {
  width: 100vw;
  height: auto;
  margin-top: 15vh;
}

.maduracion-texto {
  font-family: cooperl;
  letter-spacing: 0.3em;
}

.about-header {
  font-family: cooperl;
  font-size: 1.1em;
  letter-spacing: 0.2em;
  margin-bottom: 0;
  margin-top: 0;
}

.about-content {
  font-family: cooperl;
  text-align: justify;
  font-size: 1em;
  margin-bottom: 0;
  margin-top: 0;
}

.about-content-bold {
  font-family: cooperb;
  text-align: justify;
  font-size: 1em;
  margin-bottom: 0;
  margin-top: 0;
}

.container-half {
  width: 50%;
  height: 100%;
  text-align: center;
  justify-content: center;
}

.maduracion-contenido-original {
  width: 100%;
  height: 100%;
  background-image: url(public/assets/Vector2.png);
  background-repeat: no-repeat;
  background-position: center;
}

.btn-original {
  font-family: AmericanWrite;
  padding: 5px 20px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #f44823, #9e2309) border-box;
  border-radius: 1vh;
  border: 2px solid transparent;
  /* box-shadow: 3px 3px 2px ; */
}

.maduracion-contenido-gold {
  width: 100%;
  height: 100%;
  background-image: url(public/assets/Vector.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-gold {
  font-family: AmericanWrite;
  padding: 5px 20px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #fdc114, #cd9c0e) border-box;
  border-radius: 1vh;
  border: 2px solid transparent;
  /* box-shadow: 3px 3px 2px ; */
}

.btn-buy {
  font-family: cooperl;
  font-size: 1.1em;
  padding: 5px 20px;
  background-color: white;
  border-top: 1px;
  border-left: 1px;
  border-right: 2.5px;
  border-bottom: 3px;
  border-style: solid;
  border-color: black;
  border-radius: 0.6em;
}

.benefits-card{
  background-color: rgba(62, 37, 1, 0.3);
  border-radius: 3em;
  margin-left: 1vw;
  margin-right: 1vw;
  height: auto;
  width: 280px;
  border: 1px solid white;
  padding: 1em;
}

.benefits-header-text{
  font-family: Silka-bold;
  color: white;
  text-align: center;
  font-size: 7em;
  margin-top: 1vh;
}

.benefits-title-text{
  font-family: Silka-bold;
  color: white;
  text-align: center;
  font-size: 1.5em;
  margin-top: 0.5vh;
  text-align: center;
  border-bottom: 2px solid white;
  padding-bottom: 0.5em;
}

.benefits-content-text{
  font-family: Silka-light;
  color: white;
  text-align: center;
  font-size: 1em;
  margin-top: 0.5vh;
}

.flex {
  display: flex;
}

.margin-top-5 {
  margin-top: 5vh;
}

.margin-top-10 {
  margin-top: 10vh;
}

.margin-top-15 {
  margin-top: 15vh;
}

.margin-top-40 {
  margin-top: 40vh;
}

.margin-top-45 {
  margin-top: 45vh;
}

.margin-start{
  margin-left: 10vw;
}

.img {
  width: 15em;
  height: auto;
}

.img-center {
  width: 10em;
  height: 6em;
  margin-bottom: 0;
}

.img-maduracion {
  width: 25em;
  height: auto;
}

.img-general {
  max-width: 100%;
  max-height: 100%;
}

.img-sm{
  width: 100px;
  height: 100px;
}

.icons {
  display: inline-block;
  max-width: 50%;
  max-height: 50%;
}

/*Figuras*/
.circle {
  width: 0.4em;
  height: 0.4em;
  background-color: black;
  border-radius: 5em;
  margin-top: 0.6em;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.line {
  width: 10em;
  height: 0.1em;
  background-color: black;
  margin-top: 1.2em;
  margin-right: 0.5em;
  margin-left: 0.5em;
}