@font-face {
    font-family: AmericanWrite;
    src: url("../assets/AmericanTypewriter.otf") format("opentype");
}

@font-face {
    font-family: Silka-light;
    src: url("../assets/Silka-Light.otf") format("opentype");
}

@font-face {
    font-family: Silka-bold;
    src: url("../assets/Silka-Bold.otf") format("opentype");
}
html,body{
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/background.png);
    background-color: rgba(255, 255, 255, 0.9);
    background-blend-mode:overlay;
    
}

.container-top{
    padding-top: 1em;
}

.button-shopping-cart{
    width: 2.5em;
    height: 2.5em;
    border-style: solid;
    border-top: 2px #C92C0A solid;
    border-left: 2px #C92C0A solid;
    border-right: 3px #C92C0A solid;
    border-bottom: 4px #C92C0A solid;
    border-color: #C92C0A;
    border-radius: 5em;
    background-color: #F4D4D4;
}

.top-nav{
    margin-bottom: 0;
    font-family: Silka-Light;
}

.top-nav-item{
    
    color: black;
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 0.5em;
    text-decoration: none;
    border-bottom: 1px solid;
}

.top-nav-item.active{
    color: #C92C0A;
    font-family: Silka-bold;
    border: 1px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 0;
}


.margen{
    margin-top: 5em;
}

.margin-center{
    margin: 0 auto;
}

.banner{
    width: 1000px;
    height: 500px;
    background-color: black;
    border-top: 5px white solid;
    outline: 2px black solid;
    padding: 10vh;
}

.text-with-decoration{
    font-family: AmericanWrite;
}


.img-texto{
    max-width: 100%;
    max-height: 100%;
}

